[Unit]
Description=Run Rancher GitHub credential renewal daily

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=rancher-github-credential-renewal.service

[Install]
WantedBy=timers.target
[simar@acdh-rancher systemd]$
