[Unit]
Description=Rancher GitHub credential renewal

[Container]
Image=ghcr.io/acdh-oeaw/github-actions-rancher-credential-renewal/main:main
# if you have to use a proxy to talk to either api:
# Environment="HTTPS_PROXY=http://proxy.example.org:8080" 
# Mount host config file into the container as /app/config.yaml (read only)
Volume=/etc/rancher-github-credential-renewal/config.yaml:/app/config.yaml:ro
# Enable Podman auto-update (pull from registry when image changes)
AutoUpdate=registry

[Service]
Type=oneshot